<div class="search">
  <form #form="ngForm" (submit)="onSubmit">
    <input
      type="text"
      placeholder="Buscar localização"
      name="city"
      [(ngModel)]="initialCityName"
    />

    <span (click)="onSubmit()">
      <fa-icon
        animation="fade"
        style="--fa-animation-duration: 5s; cursor: pointer"
        size="lg"
        class="search-icon"
        [icon]="searchIcon"
      ></fa-icon>
    </span>
  </form>
</div>

<!-- Smart Component: make calls, get datas with complex methods -->
<!-- Dumb Component: use the data provided by a smart component -->

<app-weather-card *ngIf="weatherData" [weatherDataInput]="weatherData"></app-weather-card>
